img{
font-size: 125%;
text-align: center;
  }
p{
  font-size: 155%;
}
li{
  font-size: 155%;
}
button{
  font-size: 300%;
  width: 100%;
}
h1{
  font-size: 320%;
  color:blue;
}
h2{
  font-size: 280%;
  color:lime;
}
h3{
  font-size: 230%;
  color:red;
}
h4{
  font-size: 190%;
  color:fuchsia;
}
.symbol{
display: block;
margin: 0px 200px 0px 0px;
}
