img{
font-size: 125%
  }
p{
  font-size: 155%
}
li{
  font-size: 155%
}
button{
  font-size: 300%
}
h1{
  font-size: 320%
  colour: blue
}
h2{
  font-size: 280%
}
h3{
  font-size: 230%
}
h4{
  font-size: 190%
}
